

.block {
    display: flex;
    justify-content: space-between;
    padding:   85px 250px 99px;  
}


.block-background {
   background-image: url(../../assets/background.png);
   background-repeat: repeat-x;
}