.history {
  list-style: none;
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 48px;
  row-gap: 16px;
}

.history__item {
  display: flex;
  align-items: center;
  width: calc(50% - 24px);
  height: 42px;
  background-color: #ffffff;
  color: #707c87;
  font-weight: 600;
  font-size: 18px;
}

.history-date {
  margin-left: 10px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  color: #c1c2ca;
}

.item-sum {
  margin-left: 10px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  color: #707c87;
}

.item-curs {
  margin-left: 5px;
  margin-right:10px;
  font-family: Roboto;
  font-weight: 600;
  font-size: 18px;
  color: #707c87;
}

